<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nowcode.community.dao.UserMapper">
        <sql id="selectFields">
            id,username,password,salt,email,type,status,activation_code,header_url,create_time
        </sql>
    <sql id="insertFields" >
         username,password,salt,email,type,status,activation_code,header_url,create_time
    </sql>

    <select id="selectById" parameterType="int" resultType="User">
        select <include refid="selectFields"></include>
        from user
        where id=#{id}
    </select>

    <select id="selectByName"  resultType="User">
        select <include refid="selectFields"></include>
        from user
        where username=#{username}
    </select>

    <select id="selectByEmail" resultType="User">
        select <include refid="selectFields"></include>
        from user
        where email=#{email}
    </select>

    <insert id="insertUser" parameterType="User" keyProperty="id">
        insert into  user
        (<include refid="insertFields"></include>)
        values
        (
        #{username},#{password},#{salt},#{email},#{type},#{status},#{activationCode},#{headerUrl},#{createTime}
        )
    </insert>

    <update id="updateStatus">
        update user set status=#{status} where id=#{id}
    </update>

    <update id="updateHeader">
        update user set header_url=#{headerUrl} where id=#{id}
    </update>

    <update id="updatePassword">
        update user set password=#{password} where id=#{id}
    </update>

<!--    查询我的回复-->
    <sql id="selectFields2">
            c.id,c.user_id,c.entity_type,c.entity_id,c.target_id,c.content,c.status,c.create_time,
            d.id did,d.user_id duser_id,d.title,d.content dcontent,d.type,d.status dstatus,
            d.create_time dcreate_time,d.comment_count,d.score
        </sql>
    
    <resultMap id="comment_and_post" type="Comment">
        <result property="id" column="id"/>
        <result property="userId" column="user_id"/>
        <result property="entityType" column="entity_type"/>
        <result property="entityId" column="entity_id"/>
        <result property="targetId" column="target_id"/>
        <result property="content" column="content"/>
        <result property="status" column="status"/>
        <result property="createTime" column="create_time"/>
        <association property="discussPost" javaType="DiscussPost">
            <result property="id" column="did"/>
            <result property="userId" column="duser_id"/>
            <result property="title" column="title"/>
            <result property="content" column="dcontent"/>
            <result property="type" column="type"/>
            <result property="status" column="dstatus"/>
            <result property="createTime" column="dcreate_time"/>
            <result property="commentCount" column="comment_count"/>
            <result property="score" column="score"/>
        </association>
    </resultMap>
    <select id="selectCommentAndPost" resultMap="comment_and_post">
        SELECT  <include refid="selectFields2"></include>
         FROM comment AS c ,discuss_post AS d
         WHERE  d.id=c.entity_id
         AND c.entity_type=1
         AND c.user_id=#{userId}
        order by d.type desc,c.create_time desc
        limit #{offset},#{limit}
    </select>

    <select id="selectCommentAndPostCount" resultType="int">
        SELECT  count(d.id)
        FROM comment AS c ,discuss_post AS d
        WHERE  d.id=c.entity_id
        AND c.entity_type=1
        AND c.user_id=#{userId};
    </select>


    
</mapper>